---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page Not Found | Belvedere Decks" description="That page doesn't exist.">
  <section class="hero">
    <div class="container">
      <h1>That page went the way of an old wood deck.</h1>
      <div class="rule"></div>
      <p class="lead">It's not here anymore. Try the <a href="/">homepage</a> or <a href="/pricing">pricing</a>.</p>
    </div>
  </section>
</Layout>
